@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 3.125rem;
    --first-color: #23272A;
    --first-color-light: #57F287;
    --white-color: #F7F6FB;
    --red-color: #DC143C;
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .5s;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 2rem);
}

.active {
    color: var(--white-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0.125rem;
    height: 2rem;
    background-color: var(--white-color);
}

section.container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.intro span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.intro button {
    max-width: 20%;
    padding: 0.4rem;
    margin-top: 1rem;
    background: var(--first-color);
    color: var(--first-color-light);
    border: none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: .8s;
}

.intro button:hover {
    background: var(--first-color-light);
    color: var(--first-color);
}

.content {
    margin: auto;
}

.content span {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.content p {
    line-height: 1.4rem;
}

.content .donate {
    max-width: 20%;
    padding: 0.4rem;
    margin-top: 1rem;
    background: var(--first-color);
    color: var(--first-color-light);
    border: none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .8s;
}

.form {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

form.testimony-form,
form.announcement-form {
    display: flex;
    flex-direction: column;
}

form.testimony-form input,
form.announcement-form input  {
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    border: 0.01rem solid var(--first-color);
    border-radius: 0.2rem;
    outline: none;
    color: var(--first-color);
}

form.testimony-form textarea,
form.announcement-form textarea {
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    border: 0.01rem solid var(--first-color);
    border-radius: 0.2rem;
    outline: none;
    color: var(--first-color);
}

form.testimony-form .buttons button,
form.announcement-form .buttons button {
    padding: 0.4rem;
    border: none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: .8s;
}

form.testimony-form .buttons button.update,
form.announcement-form .buttons button.update {
    color: var(--first-color);
    background: var(--first-color-light);
}

form.testimony-form .buttons button.delete,
form.announcement-form .buttons button.delete {
    color: var(--first-color);
    background: var(--red-color);
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--nav-width) + 9.75rem);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 11.75rem);
    }
}